.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  margin-bottom: 15px;
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
  border: none;
  padding: 0;
}

.form label {
  color: #717171;
  font-weight: 500;
  font-size: 0.77rem;
  margin-bottom: 10px;
}

.form .select-wrapper label::after, .form .text-wrapper label::after, .form .email-wrapper label::after {
  content: "*";
  color: red;
}

.form .requiredfieldset fieldset > legend {
    font-size: 1rem;
    font-weight: 400;
    color: #717171;
}

.form .requiredfieldset fieldset > legend::before {
  content: "*";
  color: red;
  margin-right: 5px;
}

.form .requiredfieldset fieldset > legend {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.form .productType fieldset > legend {
  margin: 0 0 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.form .formsection {
  padding: 0 0 0 20px;
  background: #F0F0F0;
}

.form .formsection fieldset > legend {
  line-height: 2.5rem;
  font-size: 1rem;
  color: #717171;
  font-weight: bold;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  max-width: 50rem;
  display: block;
  padding: 12px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  font-size: 1rem;
  background: #fff;
  color: #000;
  font-weight: 500;
}

.form .select-wrapper select, .form .email-wrapper input, .form .text-wrapper input, .form .textarea-wrapper input {
  border: 2px solid #717171;
  border-radius: 0;
  height: 50px;
  width: 100%;
  padding: 0 46px 0 20px;
}

.form textarea {
  resize: vertical;
}

.form .selection-wrapper input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.form .selection-wrapper input[type="radio"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.form .selection-wrapper label {
  margin-bottom: 0;
}

.form input:hover {
  border: 1px solid var(--text-color);
}

.form .button {
  max-width: 225px;
  font-size: var(--body-font-size-m);
  padding: 0.2em 0.4em;
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
}

.form .field-wrapper > label {
  order: -1;
}

.form .field-wrapper.selection-wrapper > label {
  order: 1;
}

/* .form input[required] + label::after {
  content: "*";
  color: firebrick;
  margin-inline-start: 1ch;
} */

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--dark-color);
  transition: 0.4s;
  border-radius: 30px;
}

.form .toggle-wrapper .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:focus + .slider {
  outline: 2px solid var(--link-color);
  outline-offset: 2px;
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}

#form-producttypefs label {
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
}

.form .privacy fieldset > legend, .form #form-signup-label {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
}

.form .submit-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form .submit-wrapper button {
  font-size: 1rem;
  line-height: 3rem;
  max-width: 100%;
  width: 100%;
  margin-top: 20px;
  height: 3rem;
  background: #488400;
  color: #fff;
  border-radius: 0;
}

@media (width > 767px) {
  form {
    margin: 0 auto;
    max-width: 583px;
  }
}